.search-section {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.search-section-input {
  padding: 8px;
  margin-right: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 4px;
}

.search-section-btn {
  padding: 8px 16px;
  width: 130px;
  background: rgba(255, 205, 5, 0.8);
  color: rgba(29, 66, 100, 0.8);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.search-section-btn:hover {
  color: #1d4264;
  background: #ffcb05;
}

.search-section-btn:disabled {
  background: #cccccc;
  cursor: not-allowed;
}
